body {
	margin: 0;
	padding: 16px;
	background-image: url(images/background_light_16x9.png);
	background-size: cover
}

#board {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);

	width: 100%;
	max-width: 380px;
	aspect-ratio: 1/1;
}

#game {
	display: flex;
	justify-content: center;
	align-self: center;
}

.cell {
	background-image: url(images/cell_light.png);
	background-size: cover;
	font-size: x-large;
}

.winButton:disabled {
	color: red;
}

#reset {
	padding: 5px;
	
}

#resetDiv {
	display: flex;
	align-self: center;
	justify-content: center;
	padding: 20px;
}

#status {
	display: flex;
	align-self: center;
	justify-content: center;
	padding: 20px;
	font-size: xx-large;
}

#scoreboard {
	display: flex;
	justify-content: center;
	align-self: center;
}


.score {
	display: inline-flex;
	padding: 10px;
}

.scoreMarker {
	width: 150px;
	height: 150px;
	font-size: large;
	text-align: center;
	background-image: url(images/cell_light.png);
	background-size: cover;
}

.scoreText {
	font-size: xx-large;
	text-align: center;
	padding: 20px;
}